<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects for you</title>
</head>
<body>
<th:block th:include="menu.html"></th:block>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="project : ${projects}">
    <tr>
        <td th:text="${project.id}"></td>
        <td th:text="${project.name}"></td>
    </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>