<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create task form</title>
</head>
<body>

<th:block th:include="menu.html"></th:block>

<div class="container">
    <h2 class="mt-2 mb-3">Create task form:</h2>
    <form method="post" th:action="@{/tasks/create}" th:object="${task}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Task name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{name}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Content</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{content}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">User</label>
            <div class="col-sm-4">
                <select class="form-control" th:field="*{username}">
                    <option selected value="">Select user</option>
                    <option th:each="user : ${usersList}"
                            th:value="${user.name}"
                            th:utext="${user.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Project</label>
            <div class="col-sm-4">
                <select class="form-control" th:field="*{projectname}">
                    <option selected value="">Select project</option>
                    <option th:each="project : ${projectsList}"
                            th:value="${project.name}"
                            th:utext="${project.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
