<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>

<th:block th:include="menu.html"></th:block>

<div class="container">
    <div class="row row-cols-2">
        <h2 class="col mt-2 mb-3">Projects:</h2>
        <a href="/projects/create">
            <button type="button" class="col btn btn-primary mt-2">New project</button>
        </a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Tasks</th>
            <th scope="col">Users</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projectList}">
            <td th:text="*{project.id}"></td>
            <td th:text="*{project.name}"></td>
            <td>
                <ul th:each="task : ${project.projectTasks}">
                    <li th:text="*{task.name}"></li>
                </ul>
            </td>
            <td>
                <ul th:each="user : ${project.usersOnProject}">
                    <li th:text="*{user.name}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>