<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<th:block th:include="home.html"></th:block>

<div class="container">
    <h2 class="mt-2 mb-3">Register</h2>
    <form method="post" th:action="@{/register}" th:object="${formData}">
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{name}">
            </div>
        </div>
        <small style="color: red;" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')}"></small>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{email}">
            </div>
        </div>
        <small style="color: red;" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')}"></small>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" th:field="*{password}">
            </div>
        </div>
        <small style="color: red;" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')}"></small>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Repeat password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" th:field="*{repeatedPassword}">
            </div>
        </div>
        <small style="color: red;" th:if="${errorMessage != null}" th:text="${errorMessage}"></small>
        <div class="form-group row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>