<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>

</head>
<body>

<th:block th:include="menu.html"></th:block>

<div class="container">
    <div class="row row-cols-2">
        <h2 class="col mt-2 mb-3">Tasks:</h2>
        <a href="/tasks/create">
            <button type="button" class="col btn btn-primary mt-2">New task</button>
        </a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Content</th>
            <th scope="col">Project</th>
            <th scope="col">User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${taskList}">
            <td th:text="*{task.id}"></td>
            <td th:text="*{task.name}"></td>
            <td th:text="*{task.content}"></td>
            <td th:text="*{task.project.name}"></td>
            <td th:text="*{task.user.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>