<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<th:block th:include="menu.html"></th:block>

<div class="container">
    <div class="row row-cols-2">
        <h2 class="col mt-2 mb-3">Users:</h2>
        <a href="/users/create">
            <button type="button" class="col btn btn-primary mt-2">New user</button>
        </a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="*{user.id}"></td>
            <td th:text="*{user.name}"></td>
            <td th:text="*{user.email}"></td>
            <td th:text="*{user.role}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>